on:
  workflow_dispatch:
  schedule:
    - cron: '0 9 * * *'
name: Update container
permissions:
  packages: write
  contents: read
env:
  REGISTRY_USER: ${{ github.actor }}
  REGISTRY_PASSWORD: ${{ github.token }}
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'
      - name: Install latest
        run: |
          go install github.com/csmith/latest/cmd/alpine@latest
      - name: Install apko with cache fix
        run: |
          git clone --depth 1 https://github.com/chainguard-dev/apko.git /tmp/apko
          cd /tmp/apko
          gh pr checkout 1949
          go build -o $HOME/go/bin/apko .
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Login to GHCR
        uses: redhat-actions/podman-login@v1.6
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
      - name: Set date in var
        run: |
          echo "VERSTRING=$(date -u +%Y%m%d)" >> $GITHUB_ENV
      - name: Update Alpine version in root.yaml
        run: |
          ALPINE_VERSION=$(alpine | grep "Version:" | cut -d' ' -f2 | cut -d'.' -f1,2)
          sed -i "s|https://dl-cdn.alpinelinux.org/alpine/v[0-9]*\.[0-9]*/main|https://dl-cdn.alpinelinux.org/alpine/v${ALPINE_VERSION}/main|g" root.yaml
      - name: Generate root lock file
        id: lockfile
        run: |
          delimiter="$(openssl rand -hex 8)"
          cp root.lock.json old.lock.json
          apko lock root.yaml
          echo "commit_message<<${delimiter}" >> $GITHUB_OUTPUT
          go run . >> $GITHUB_OUTPUT
          echo "${delimiter}" >> $GITHUB_OUTPUT
      - name: Generate non root lock file
        run: |
          apko lock base.yaml
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        id: auto-commit-action
        with:
          commit_message: ${{ steps.lockfile.outputs.commit_message }}
      - name: Publish new image
        if: steps.auto-commit-action.outputs.changes_detected == 'true'
        run: |
          apko publish --lockfile root.lock.json root.yaml ghcr.io/greboid/dockerbase/root:1.$VERSTRING.0
      - name: Publish new image
        if: steps.auto-commit-action.outputs.changes_detected == 'true'
        run: |
          apko publish --lockfile base.lock.json base.yaml ghcr.io/greboid/dockerbase/nonroot:1.$VERSTRING.0
